<style>

body {
}


H1,H2,H3,H4,P,I,EM,B,LI,UL,OL,DD,DT,ADDRESS,DL,A,STRONG,BLOCKQUOTE  {
    font-family: sans-serif;
    background-color: transparent
}
INPUT {
    background-color: #FFFFFF
}
H1 {
    font-size: 18pt;
    color: red;
}
H2 {
    font-size: 18pt;
}
H3 {
    font-size: 14pt;
}
TH {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}
TD {
    font-family: sans-serif;
    font-size: 10pt;
    padding: 0;
    margin: 0;
}
TT,CODE {
    font-family: monospaced
}
CITE.code {
    font-family: monospaced;
    font-style: plain
}
P.modified {
    font-size: 10pt;
    font-style: italic;	
}
TH.small {
    font-family: sans-serif;
    font-size: 10pt;
    padding: 0;
    margin: 0;
}
TD.small {
    font-family: sans-serif;
    font-size: 10;
    background-color: rgb(200,255,255);
    padding: 0;
    margin: 0;
}
TD.smallwhite {
    font-family: sans-serif;
    font-size: 10pt;
    padding: 0;
    margin: 0;
}
PRE.code {
    font-family: monospaced
}

</style>